n8n/NOMAAD Quote · 3. Contract Confirmed.json
{
  "name": "NOMAAD Quote · 3. Contract Confirmed",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "16pHiShilnG-QdZtc2ciB5JeP_aslZRcqpQqEJvD-0wA",
          "mode": "list",
          "cachedResultName": "nomaad_quote_log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16pHiShilnG-QdZtc2ciB5JeP_aslZRcqpQqEJvD-0wA/edit"
        },
        "sheetName": {
          "__rl": true,
          "value": 529201537,
          "mode": "list",
          "cachedResultName": "Quote Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16pHiShilnG-QdZtc2ciB5JeP_aslZRcqpQqEJvD-0wA/edit#gid=529201537"
        },
        "event": "rowUpdate",
        "options": {}
      },
      "id": "cec43257-01f2-4285-a612-b83905c34968",
      "name": "Sheets Trigger · On row update",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        4304,
        3200
      ],
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "GW7H0PAjDKMEZBEj",
          "name": "Google Sheets Trigger OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "if-toluv-geree",
              "leftValue": "={{ $json['Төлөв'] }}",
              "rightValue": "ГЭРЭЭ",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f5e9be22-7cdf-4a8d-9bb5-dc8422605ceb",
      "name": "IF · Төлөв = ГЭРЭЭ",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4528,
        3200
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "16pHiShilnG-QdZtc2ciB5JeP_aslZRcqpQqEJvD-0wA",
          "mode": "list",
          "cachedResultName": "nomaad_quote_log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16pHiShilnG-QdZtc2ciB5JeP_aslZRcqpQqEJvD-0wA/edit"
        },
        "sheetName": {
          "__rl": true,
          "value": 529201537,
          "mode": "list",
          "cachedResultName": "Quote Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16pHiShilnG-QdZtc2ciB5JeP_aslZRcqpQqEJvD-0wA/edit#gid=529201537"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Үнийн саналын дугаар",
              "lookupValue": "={{ $json['Үнийн саналын дугаар'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ec0266ba-3c33-490c-a1bb-f46fbed15bdd",
      "name": "Sheets · Find quote row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        4768,
        3168
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "k4p4OIdOAsaZgnRH",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// =====================================================================\n// NOMAAD Camp · Workflow 3 · Contract Confirmed (Code node)\n// =====================================================================\n// Input: Quote Log-ийн нэг мөр\n// Output: Гэрээний placeholder бүх утга + finance log + email\n\nconst row = $input.first().json;\n\nlet p;\ntry { p = JSON.parse(row[\"Анхны өгөгдөл\"] || \"{}\"); }\ncatch (e) { p = {}; }\n\nconst num = (v, d = 0) => {\n  if (v === undefined || v === null || v === '') return d;\n  const cleaned = String(v).replace(/[₮,$,\\s]/g, '');\n  const n = Number(cleaned);\n  return Number.isFinite(n) ? n : d;\n};\nconst str = (v, d = '') => (v === undefined || v === null) ? d : String(v).trim();\nconst fmt = n => Number(n).toLocaleString('en-US');\n\n// ---- Mongolian number → words (simple cyrillic) ----\nfunction numberToMongolWords(n) {\n  if (!n || n === 0) return 'тэг';\n  const units = ['', 'нэг', 'хоёр', 'гурван', 'дөрвөн', 'таван', 'зургаан', 'долоон', 'найман', 'есөн'];\n  const tens  = ['', 'арван', 'хорин', 'гучин', 'дөчин', 'тавин', 'жаран', 'далан', 'наян', 'ерэн'];\n  const hundreds = ['', 'нэг зуун', 'хоёр зуун', 'гурван зуун', 'дөрвөн зуун', 'таван зуун', 'зургаан зуун', 'долоон зуун', 'найман зуун', 'есөн зуун'];\n  \n  function under1000(x) {\n    if (x === 0) return '';\n    const h = Math.floor(x / 100);\n    const t = Math.floor((x % 100) / 10);\n    const u = x % 10;\n    let parts = [];\n    if (h) parts.push(hundreds[h]);\n    if (t) parts.push(tens[t]);\n    if (u) parts.push(units[u]);\n    return parts.join(' ');\n  }\n  \n  let result = '';\n  const billions = Math.floor(n / 1000000000);\n  const millions = Math.floor((n % 1000000000) / 1000000);\n  const thousands = Math.floor((n % 1000000) / 1000);\n  const rest = n % 1000;\n  \n  if (billions) result += under1000(billions) + ' тэрбум ';\n  if (millions) result += under1000(millions) + ' сая ';\n  if (thousands) result += under1000(thousands) + ' мянган ';\n  if (rest) result += under1000(rest);\n  return result.trim();\n}\n\n// ---- Дата ----\nconst quoteNumber  = str(row[\"Үнийн саналын дугаар\"]);\nconst company      = str(row[\"Компанийн нэр\"]) || str(p.company);\nconst taxId        = str(row[\"Регистрийн дугаар\"]) || str(p.customer_tax_id);\nconst contactName  = str(row[\"Холбоо барих хүн\"]) || str(p.contact_name);\nconst phone        = str(row[\"Утас\"]) || str(p.phone);\nconst email        = str(row[\"И-мэйл\"]) || str(p.email);\nconst campFull     = str(row[\"Кемп\"]) || str(p.camp_name);\nconst tier         = str(row[\"Багц\"]) || str(p.package_tier);\nconst guests       = num(row[\"Хүний тоо\"]) || num(p.guest_count) || 0;\nconst startDt      = str(row[\"Эхлэх огноо\"]) || str(p.start_datetime);\nconst endDt        = str(row[\"Дуусах огноо\"]) || str(p.end_datetime);\n\n// NOMAAD Grove → \"Grove\" (after \"NOMAAD \")\nconst campShort = campFull.replace(/^NOMAAD\\s+/i, '');\n\n// ---- Дүн тооцоолол ----\nconst listPrice    = num(row[\"Нийт дүн\"]) || num(p.grand_total);\nconst discount     = num(row[\"Хямдрал ₮\"]);\nconst finalAmount  = num(row[\"Эцсийн гэрээний дүн\"]) || (listPrice - discount);\nconst deposit30    = Math.round(finalAmount * 0.30);\nconst balance70    = finalAmount - deposit30;\nconst vatIncluded  = Math.round(finalAmount / 11);\n\n// Нэг хүний үнэ (per-person)\nconst perPersonPrice = guests > 0 ? Math.round((num(p.tier_subtotal) || finalAmount) / guests) : 0;\nconst addonsSubtotal = num(p.addons_subtotal) + num(p.shuttle_subtotal);\n\n// ---- Огноо задлах ----\nfunction parseDt(s) {\n  const m = String(s).match(/(\\d{4})-(\\d{2})-(\\d{2})(?:[T ](\\d{2}):(\\d{2}))?/);\n  if (!m) return { year: '', month: '', day: '', time: '' };\n  return {\n    year:  m[1],\n    month: String(parseInt(m[2], 10)),\n    day:   String(parseInt(m[3], 10)),\n    time:  (m[4] && m[5]) ? `${m[4]}:${m[5]}` : ''\n  };\n}\nconst startParts = parseDt(startDt);\nconst endParts   = parseDt(endDt);\n\n// Contract date = today\nconst today = new Date();\nconst contractYear  = String(today.getFullYear());\nconst contractMonth = String(today.getMonth() + 1);\nconst contractDay   = String(today.getDate());\n\n// ---- Placeholder map (Google Docs Replace nodes ашиглах) ----\nconst placeholders = {\n  // Гарчиг + БАТЛАВ блок\n  contract_year:        contractYear,\n  contract_month:       contractMonth,\n  contract_day:         contractDay,\n\n  // 1.1 Захиалагч\n  customer_tax_id:      taxId,\n  company_name:         company,\n  contact_position:     'Гүйцэтгэх захирал',\n  contact_name:         contactName,\n\n  // 2.1 Хугацаа\n  start_year:           startParts.year,\n  start_month:          startParts.month,\n  start_day:            startParts.day,\n  start_time:           startParts.time,\n  end_year:             endParts.year,\n  end_month:            endParts.month,\n  end_day:              endParts.day,\n  end_time:             endParts.time,\n\n  // 2.2 Үнэ\n  guest_count:          String(guests),\n  camp_short_name:      campShort,\n  tier:                 tier,\n  per_person_price:     fmt(perPersonPrice),\n  per_person_price_words: numberToMongolWords(perPersonPrice),\n  addons_subtotal:      fmt(addonsSubtotal),\n  addons_subtotal_words: numberToMongolWords(addonsSubtotal),\n  grand_total:          fmt(finalAmount),\n  grand_total_words:    numberToMongolWords(finalAmount),\n\n  // 2.3 — 2.4 Төлбөр\n  deposit_30:           fmt(deposit30),\n  deposit_30_words:     numberToMongolWords(deposit30),\n  balance_70:           fmt(balance70),\n  balance_70_words:     numberToMongolWords(balance70),\n\n  // 4.4 1 цагийн сунгах төлбөр (default = 300,000₮)\n  hourly_extension_fee:       '300,000',\n  hourly_extension_fee_words: numberToMongolWords(300000)\n};\n\n// ---- Email Notify HTML ----\nconst contractEmailHtml = `\n<p>${company}-н гэрээ үүсэхэд бэлэн болсон.</p>\n<table style=\"font-family:Arial;font-size:13px;line-height:1.7;\">\n  <tr><td><b>Дугаар:</b></td><td>${quoteNumber}</td></tr>\n  <tr><td><b>Компани:</b></td><td>${company}</td></tr>\n  <tr><td><b>Холбоо:</b></td><td>${contactName} · ${phone}</td></tr>\n  <tr><td><b>Кемп:</b></td><td>${campFull} · ${tier} · ${guests} хүн</td></tr>\n  <tr><td><b>Огноо:</b></td><td>${startDt} → ${endDt}</td></tr>\n  <tr><td><b>Нийт дүн:</b></td><td>${fmt(finalAmount)}₮</td></tr>\n  <tr><td><b>Урьдчилгаа 30%:</b></td><td>${fmt(deposit30)}₮</td></tr>\n  <tr><td><b>Үлдэгдэл 70%:</b></td><td>${fmt(balance70)}₮</td></tr>\n</table>\n<p>Google Drive дотор гэрээний draft автоматаар үүссэн. Шалгаад зочин руу илгээнэ үү.</p>\n`;\n\n// ---- Финанс мөр ----\nconst financeRow = {\n  quote_number: quoteNumber,\n  company: company,\n  contact_name: contactName,\n  camp: campFull,\n  tier: tier,\n  guests: guests,\n  final_amount: finalAmount,\n  deposit_30: deposit30,\n  balance_70: balance70,\n  vat_included: vatIncluded,\n  start_dt: startDt,\n  end_dt: endDt,\n  created_at: today.toISOString()\n};\n\nreturn {\n  json: {\n    // Bulk placeholders for Google Docs Replace\n    ...placeholders,\n    // Meta\n    quote_number: quoteNumber,\n    company: company,\n    contact_name: contactName,\n    email: email,\n    phone: phone,\n    camp_full: campFull,\n    final_amount: finalAmount,\n    deposit_30: deposit30,\n    balance_70: balance70,\n    contract_email_html: contractEmailHtml,\n    finance_row: financeRow,\n    contract_filename: `${quoteNumber} · ${company} · Гэрээ`,\n    generated_at: today.toLocaleString('mn-MN')\n  }\n};"
      },
      "id": "80617873-4a3f-4ce9-b39a-022952f3a48f",
      "name": "Code · Build contract data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4976,
        3184
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1SH1u4nlGH61U-5FWWTm2c5BwooboMRFhdTSp4uNunhs",
          "mode": "list",
          "cachedResultName": "НОМААД КЕМП · Санхүүгийн бүртгэл 2026",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SH1u4nlGH61U-5FWWTm2c5BwooboMRFhdTSp4uNunhs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "📝 Гэрээ",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "3ddf6734-93f3-42d2-ade6-d71cfa8472b6",
      "name": "Sheets · Append to Finance",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        5216,
        3104
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "k4p4OIdOAsaZgnRH",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "team@nomaadcamp.com",
        "subject": "={{ $('Code · Build contract data').item.json.staff_email_subject }}",
        "message": "={{ $('Code · Build contract data').item.json.staff_email_html }}",
        "options": {
          "appendAttribution": false,
          "ccList": "hello@nomaadcamp.com",
          "replyTo": "hello@nomaadcamp.com"
        }
      },
      "id": "d8e46569-44e9-4645-a070-68fea8b77124",
      "name": "Gmail · Notify staff",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        5216,
        3344
      ],
      "webhookId": "8329fd92-aa49-428e-b388-f39b014eb649",
      "credentials": {
        "gmailOAuth2": {
          "id": "hov8yK7CZxzJScr3",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "16pHiShilnG-QdZtc2ciB5JeP_aslZRcqpQqEJvD-0wA",
          "mode": "list",
          "cachedResultName": "nomaad_quote_log"
        },
        "sheetName": {
          "__rl": true,
          "value": 529201537,
          "mode": "list",
          "cachedResultName": "Quote Log"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Үнийн саналын дугаар": "={{ $('Sheets · Find quote row').item.json['Үнийн саналын дугаар'] }}",
            "Төлөв": "ГЭРЭЭ БАТЛАГДСАН"
          },
          "matchingColumns": [
            "Үнийн саналын дугаар"
          ],
          "schema": [
            {
              "id": "Үнийн саналын дугаар",
              "displayName": "Үнийн саналын дугаар",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Төлөв",
              "displayName": "Төлөв",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ]
        },
        "options": {}
      },
      "id": "a05ec8d9-27f6-437d-9b78-a8ef73769e98",
      "name": "Sheets · Update quote status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        5456,
        3280
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "k4p4OIdOAsaZgnRH",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "REPLACE_WITH_TEMPLATE_DOC_ID"
        },
        "name": "={{ $('Code · Build contract data').item.json.contract_filename }}",
        "options": {
          "parents": [
            "1Av7YxSOr-ei182NQpcHp5FlsJOSiQIGb"
          ]
        }
      },
      "id": "drive-copy-001",
      "name": "Drive · Copy template",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1700,
        300
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $('Drive · Copy template').item.json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceText",
              "text": "{{contract_year}}",
              "replaceText": "={{ $('Code · Build contract data').item.json.contract_year || '' }}",
              "matchCase": true
            },
            {
              "action": "replaceText",
              "text": "{{contract_month}}",
              "replaceText": "={{ $('Code · Build contract data').item.json.contract_month || '' }}",
              "matchCase": true
            },
            {
              "action": "replaceText",
              "text": "{{contract_day}}",
              "replaceText": "={{ $('Code · Build contract data').item.json.contract_day || '' }}",
              "matchCase": true
            },
            {
              "action": "replaceText",
              "text": "{{customer_tax_id}}",
              "replaceText": "={{ $('Code · Build contract data').item.json.customer_tax_id || '' }}",
              "matchCase": true
            },
            {
              "action": "replaceText",
              "text": "{{company_name}}",
              "replaceText": "={{ $('Code · Build contract data').item.json.company_name || '' }}",
              "matchCase": true
            },
            {
              "action": "replaceText",
              "text": "{{contact_position}}",
              "replaceText": "={{ $('Code · Build contract data').item.json.contact_position || '' }}",
              "matchCase": true
            },
            {
              "action": "replaceText",
              "text": "{{contact_name}}",
              "replaceText": "={{ $('Code · Build contract data').item.json.contact_name || '' }}",
              "matchCase": true
            },
            {
              "action": "replaceText",
              "text": "{{start_year}}",
              "replaceText": "={{ $('Code · Build contract data').item.json.start_year || '' }}",
              "matchCase": true
            },
            {
              "action": "replaceText",
              "text": "{{start_month}}",
              "replaceText": "={{ $('Code · Build contract data').item.json.start_month || '' }}",
              "matchCase": true
            },
            {
              "action": "replaceText",
              "text": "{{start_day}}",
              "replaceText": "={{ $('Code · Build contract data').item.json.start_day || '' }}",
              "matchCase": true
            },
            {
              "action": "replaceText",
              "text": "{{start_time}}",
              "replaceText": "={{ $('Code · Build contract data').item.json.start_time || '' }}",
              "matchCase": true
            },
            {
              "action": "replaceText",
              "text": "{{end_year}}",
              "replaceText": "={{ $('Code · Build contract data').item.json.end_year || '' }}",
              "matchCase": true
            },
            {
              "action": "replaceText",
              "text": "{{end_month}}",
              "replaceText": "={{ $('Code · Build contract data').item.json.end_month || '' }}",
              "matchCase": true
            },
            {
              "action": "replaceText",
              "text": "{{end_day}}",
              "replaceText": "={{ $('Code · Build contract data').item.json.end_day || '' }}",
              "matchCase": true
            },
            {
              "action": "replaceText",
              "text": "{{end_time}}",
              "replaceText": "={{ $('Code · Build contract data').item.json.end_time || '' }}",
              "matchCase": true
            },
            {
              "action": "replaceText",
              "text": "{{guest_count}}",
              "replaceText": "={{ $('Code · Build contract data').item.json.guest_count || '' }}",
              "matchCase": true
            },
            {
              "action": "replaceText",
              "text": "{{camp_short_name}}",
              "replaceText": "={{ $('Code · Build contract data').item.json.camp_short_name || '' }}",
              "matchCase": true
            },
            {
              "action": "replaceText",
              "text": "{{tier}}",
              "replaceText": "={{ $('Code · Build contract data').item.json.tier || '' }}",
              "matchCase": true
            },
            {
              "action": "replaceText",
              "text": "{{per_person_price}}",
              "replaceText": "={{ $('Code · Build contract data').item.json.per_person_price || '' }}",
              "matchCase": true
            },
            {
              "action": "replaceText",
              "text": "{{per_person_price_words}}",
              "replaceText": "={{ $('Code · Build contract data').item.json.per_person_price_words || '' }}",
              "matchCase": true
            },
            {
              "action": "replaceText",
              "text": "{{addons_subtotal}}",
              "replaceText": "={{ $('Code · Build contract data').item.json.addons_subtotal || '' }}",
              "matchCase": true
            },
            {
              "action": "replaceText",
              "text": "{{addons_subtotal_words}}",
              "replaceText": "={{ $('Code · Build contract data').item.json.addons_subtotal_words || '' }}",
              "matchCase": true
            },
            {
              "action": "replaceText",
              "text": "{{grand_total}}",
              "replaceText": "={{ $('Code · Build contract data').item.json.grand_total || '' }}",
              "matchCase": true
            },
            {
              "action": "replaceText",
              "text": "{{grand_total_words}}",
              "replaceText": "={{ $('Code · Build contract data').item.json.grand_total_words || '' }}",
              "matchCase": true
            },
            {
              "action": "replaceText",
              "text": "{{deposit_30}}",
              "replaceText": "={{ $('Code · Build contract data').item.json.deposit_30 || '' }}",
              "matchCase": true
            },
            {
              "action": "replaceText",
              "text": "{{deposit_30_words}}",
              "replaceText": "={{ $('Code · Build contract data').item.json.deposit_30_words || '' }}",
              "matchCase": true
            },
            {
              "action": "replaceText",
              "text": "{{balance_70}}",
              "replaceText": "={{ $('Code · Build contract data').item.json.balance_70 || '' }}",
              "matchCase": true
            },
            {
              "action": "replaceText",
              "text": "{{balance_70_words}}",
              "replaceText": "={{ $('Code · Build contract data').item.json.balance_70_words || '' }}",
              "matchCase": true
            },
            {
              "action": "replaceText",
              "text": "{{hourly_extension_fee}}",
              "replaceText": "={{ $('Code · Build contract data').item.json.hourly_extension_fee || '' }}",
              "matchCase": true
            },
            {
              "action": "replaceText",
              "text": "{{hourly_extension_fee_words}}",
              "replaceText": "={{ $('Code · Build contract data').item.json.hourly_extension_fee_words || '' }}",
              "matchCase": true
            }
          ]
        }
      },
      "id": "docs-replace-001",
      "name": "Docs · Replace placeholders",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1920,
        300
      ]
    }
  ],
  "pinData": {
    "Sheets Trigger · On row update": [
      {
        "json": {
          "row_number": 3,
          "Бүртгэлийн огноо": "2026-05-11T19:08:02.942+08:00",
          "Үнийн саналын дугаар": "NC-2026-0005",
          "Компанийн нэр": "Таван Богд Финанс ББСБ",
          "Регистрийн дугаар": "",
          "Холбоо барих хүн": "Н.Тамир",
          "Утас": 97688006790,
          "И-мэйл": "ceo@nomaadcamp.com",
          "Кемп": "NOMAAD Meadow",
          "Багц": "Премиум",
          "Хүний тоо": 200,
          "Эхлэх огноо": 46185.375,
          "Дуусах огноо": 46186.458333333336,
          "Нийт дүн": 60800000,
          "Урьдчилгаа 30%": 18240000,
          "PDF файл": "NC-2026-0005_Таван-Богд-Финанс-ББСБ.pdf",
          "Тэмдэглэл": "",
          "Дугаарлалт": 6,
          "Төлөв": "ГЭРЭЭ",
          "Илгээсэн огноо": "2026-05-11T19:11:12.971+08:00",
          "Нэмэлт үйлчилгээ": "",
          "Тээвэр": "Хоног / 2 талдаа · 4 автобус · 4,800,000₮",
          "Анхны өгөгдөл": "{\"company\":\"Таван Богд Финанс ББСБ\",\"customer_tax_id\":\"\",\"contact_name\":\"Н.Тамир\",\"phone\":\"+97688006790\",\"email\":\"ceo@nomaadcamp.com\",\"camp\":\"NOMAAD Meadow\",\"camp_name\":\"NOMAAD Meadow\",\"tier\":\"Премиум\",\"package_tier\":\"Премиум\",\"visual_feature\":\"\",\"location\":\"\",\"start_datetime\":\"2026-06-12T09:00\",\"end_datetime\":\"2026-06-13T11:00\",\"event_date\":\"2026-06-12T09:00\",\"duration_label\":\"1 шөнө\",\"guest_count\":\"200\",\"tier_base_price\":\"280000\",\"tier_subtotal\":\"56000000\",\"tier_inclusions_json\":\"[\\\"Welcome drink\\\",\\\"Sleeping bag\\\",\\\"Кофе/цайны цэг\\\",\\\"Өдрийн буфет (сайжруулсан)\\\",\\\"Оройн буфет (сайжруулсан)\\\",\\\"Moonbeam Lounge\\\",\\\"Bartender үйлчилгээ (3 цаг)\\\",\\\"Зочдын ариун цэврийн багц\\\",\\\"DJ үйлчилгээ\\\",\\\"Гэрэл зургийн үйлчилгээ\\\",\\\"LED дэлгэц 18м²\\\",\\\"Оройн зууш\\\"]\",\"addons_json\":\"[{\\\"code\\\":\\\"welcome_drink\\\",\\\"name\\\":\\\"Welcome drink\\\",\\\"type\\\":\\\"per-person\\\",\\\"tier_included\\\":true},{\\\"code\\\":\\\"amenity_kit\\\",\\\"name\\\":\\\"Зочдын ариун цэврийн багц\\\",\\\"type\\\":\\\"per-person\\\",\\\"tier_included\\\":true},{\\\"code\\\":\\\"sleeping_bag\\\",\\\"name\\\":\\\"Sleeping bag\\\",\\\"type\\\":\\\"per-person\\\",\\\"tier_included\\\":true},{\\\"code\\\":\\\"coffee_corner\\\",\\\"name\\\":\\\"Кофе/цайны цэг\\\",\\\"type\\\":\\\"per-person\\\",\\\"tier_included\\\":true},{\\\"code\\\":\\\"lunch_upgrade\\\",\\\"name\\\":\\\"Өдрийн буфет (сайжруулсан)\\\",\\\"type\\\":\\\"per-person\\\",\\\"tier_included\\\":true},{\\\"code\\\":\\\"dinner_upgrade\\\",\\\"name\\\":\\\"Оройн буфет (сайжруулсан)\\\",\\\"type\\\":\\\"per-person\\\",\\\"tier_included\\\":true},{\\\"code\\\":\\\"late_snacks\\\",\\\"name\\\":\\\"Оройн зууш\\\",\\\"type\\\":\\\"per-person\\\",\\\"tier_included\\\":true},{\\\"code\\\":\\\"dj_service\\\",\\\"name\\\":\\\"DJ үйлчилгээ\\\",\\\"type\\\":\\\"flat-dynamic\\\",\\\"tier_included\\\":true},{\\\"code\\\":\\\"bartender_service\\\",\\\"name\\\":\\\"Bartender үйлчилгээ\\\",\\\"type\\\":\\\"flat-auto\\\",\\\"tier_included\\\":true},{\\\"code\\\":\\\"moonbeam_lounge\\\",\\\"name\\\":\\\"Moonbeam Lounge\\\",\\\"type\\\":\\\"flat\\\",\\\"tier_included\\\":true},{\\\"code\\\":\\\"led_screen_18m2\\\",\\\"name\\\":\\\"LED дэлгэц 18м²\\\",\\\"type\\\":\\\"flat\\\",\\\"tier_included\\\":true},{\\\"code\\\":\\\"photo_4h\\\",\\\"name\\\":\\\"Гэрэл зургийн үйлчилгээ\\\",\\\"type\\\":\\\"flat\\\",\\\"tier_included\\\":true}]\",\"addon_count\":\"12\",\"addons_subtotal\":\"0\",\"estimated_addon_total\":\"0\",\"shuttle_service\":\"Хоног / 2 талдаа, 1,200,000₮\",\"shuttle_service_label\":\"Хоног / 2 талдаа, 1,200,000₮\",\"shuttle_unit_price\":\"1200000\",\"bus_count\":\"4\",\"shuttle_subtotal\":\"4800000\",\"grand_total\":\"60800000\",\"vat_included\":\"5527273\",\"deposit_30\":\"18240000\",\"balance_70\":\"42560000\",\"value_anchor_json\":\"{\\\"lines\\\":[{\\\"label\\\":\\\"Үндсэн багц (180,000₮ × 200)\\\",\\\"amount\\\":36000000},{\\\"label\\\":\\\"+ Welcome drink (5,000 × 200)\\\",\\\"amount\\\":1000000},{\\\"label\\\":\\\"+ Sleeping bag (15,000 × 200)\\\",\\\"amount\\\":3000000},{\\\"label\\\":\\\"+ Кофе/цайны цэг (6,000 × 200)\\\",\\\"amount\\\":1200000},{\\\"label\\\":\\\"+ Өдрийн буфет (сайжруулсан) (12,000 × 200)\\\",\\\"amount\\\":2400000},{\\\"label\\\":\\\"+ Оройн буфет (сайжруулсан) (12,000 × 200)\\\",\\\"amount\\\":2400000},{\\\"label\\\":\\\"+ Moonbeam Lounge\\\",\\\"amount\\\":500000},{\\\"label\\\":\\\"+ Bartender (3 × 500,000)\\\",\\\"amount\\\":1500000},{\\\"label\\\":\\\"+ Зочдын ариун цэврийн багц (5,000 × 200)\\\",\\\"amount\\\":1000000},{\\\"label\\\":\\\"+ DJ үйлчилгээ\\\",\\\"amount\\\":1000000},{\\\"label\\\":\\\"+ Гэрэл зургийн үйлчилгээ\\\",\\\"amount\\\":500000},{\\\"label\\\":\\\"+ LED дэлгэц 18м²\\\",\\\"amount\\\":1728000},{\\\"label\\\":\\\"+ Оройн зууш (8,000 × 200)\\\",\\\"amount\\\":1600000}],\\\"standalone_total\\\":53828000,\\\"package_total\\\":56000000,\\\"savings\\\":-2172000,\\\"savings_pct\\\":-4}\",\"standalone_equivalent\":\"53828000\",\"package_savings\":\"-2172000\",\"package_savings_pct\":\"-4\",\"notes\":\"\",\"source\":\"nomaadcamp.com\",\"next_counter\":5}",
          "Уулзалтын огноо": "",
          "Хямдрал ₮": "",
          "Уулзалтын тэмдэглэл": "dcsdcsdcsd",
          "Эцсийн гэрээний дүн": 40000000,
          "Гэрээ зурсан огноо": ""
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Sheets Trigger · On row update": {
      "main": [
        [
          {
            "node": "IF · Төлөв = ГЭРЭЭ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF · Төлөв = ГЭРЭЭ": {
      "main": [
        [
          {
            "node": "Sheets · Find quote row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets · Find quote row": {
      "main": [
        [
          {
            "node": "Code · Build contract data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code · Build contract data": {
      "main": [
        [
          {
            "node": "Drive · Copy template",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sheets · Append to Finance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail · Notify staff": {
      "main": [
        [
          {
            "node": "Sheets · Update quote status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drive · Copy template": {
      "main": [
        [
          {
            "node": "Docs · Replace placeholders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Docs · Replace placeholders": {
      "main": [
        [
          {
            "node": "Gmail · Notify staff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b3c1836a-a888-4342-bb08-c2ac526dc6d8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f638da819297acbd6e4f4271a24c6826d03f971863c6ffa42183ae0805d3cea1"
  },
  "id": "d3SUnOfPCRqxYYu0",
  "tags": [
    {
      "updatedAt": "2026-04-06T05:37:11.533Z",
      "createdAt": "2026-04-06T05:37:11.533Z",
      "id": "OhVVLbAUdZtvBgg4",
      "name": "M event"
    }
  ]
}