n8n/NOMAAD Quote · 3. Contract Confirmed.json
{
  "name": "NOMAAD Quote · 3. Contract Confirmed",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nomaad-contract-trigger",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-contract-001",
      "name": "Webhook · Contract Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "nomaad-contract-trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "if-toluv-geree",
              "leftValue": "={{ $json['Төлөв'] }}",
              "rightValue": "ГЭРЭЭ",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f5e9be22-7cdf-4a8d-9bb5-dc8422605ceb",
      "name": "IF · Төлөв = ГЭРЭЭ",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "16pHiShilnG-QdZtc2ciB5JeP_aslZRcqpQqEJvD-0wA",
          "mode": "list",
          "cachedResultName": "nomaad_quote_log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16pHiShilnG-QdZtc2ciB5JeP_aslZRcqpQqEJvD-0wA/edit"
        },
        "sheetName": {
          "__rl": true,
          "value": 529201537,
          "mode": "list",
          "cachedResultName": "Quote Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16pHiShilnG-QdZtc2ciB5JeP_aslZRcqpQqEJvD-0wA/edit#gid=529201537"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Үнийн саналын дугаар",
              "lookupValue": "={{ $json['Үнийн саналын дугаар'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ec0266ba-3c33-490c-a1bb-f46fbed15bdd",
      "name": "Sheets · Find quote row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        680,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "k4p4OIdOAsaZgnRH",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// =====================================================================\n// NOMAAD Camp · Workflow 3 · Contract Confirmed (Code node, fixed v2)\n// =====================================================================\n// Input: Quote Log-ийн нэг мөр\n// Output: Гэрээний placeholder бүх утга + finance log + staff email\n\nconst row = $input.first().json;\n\nlet p;\ntry { p = JSON.parse(row[\"Анхны өгөгдөл\"] || \"{}\"); }\ncatch (e) { p = {}; }\n\nconst num = (v, d = 0) => {\n  if (v === undefined || v === null || v === '') return d;\n  const cleaned = String(v).replace(/[₮,$,\\s]/g, '');\n  const n = Number(cleaned);\n  return Number.isFinite(n) ? n : d;\n};\nconst str = (v, d = '') => (v === undefined || v === null) ? d : String(v).trim();\nconst fmt = n => Number(n).toLocaleString('en-US');\n\n// ---- Mongolian number → words (simple cyrillic) ----\nfunction numberToMongolWords(n) {\n  if (!n || n === 0) return 'тэг';\n  const units = ['', 'нэг', 'хоёр', 'гурван', 'дөрвөн', 'таван', 'зургаан', 'долоон', 'найман', 'есөн'];\n  const tens  = ['', 'арван', 'хорин', 'гучин', 'дөчин', 'тавин', 'жаран', 'далан', 'наян', 'ерэн'];\n  const hundreds = ['', 'нэг зуун', 'хоёр зуун', 'гурван зуун', 'дөрвөн зуун', 'таван зуун', 'зургаан зуун', 'долоон зуун', 'найман зуун', 'есөн зуун'];\n\n  function under1000(x) {\n    if (x === 0) return '';\n    const h = Math.floor(x / 100);\n    const t = Math.floor((x % 100) / 10);\n    const u = x % 10;\n    let parts = [];\n    if (h) parts.push(hundreds[h]);\n    if (t) parts.push(tens[t]);\n    if (u) parts.push(units[u]);\n    return parts.join(' ');\n  }\n\n  let result = '';\n  const billions = Math.floor(n / 1000000000);\n  const millions = Math.floor((n % 1000000000) / 1000000);\n  const thousands = Math.floor((n % 1000000) / 1000);\n  const rest = n % 1000;\n\n  if (billions) result += under1000(billions) + ' тэрбум ';\n  if (millions) result += under1000(millions) + ' сая ';\n  if (thousands) result += under1000(thousands) + ' мянган ';\n  if (rest) result += under1000(rest);\n  return result.trim();\n}\n\n// ---- Дата ----\nconst quoteNumber  = str(row[\"Үнийн саналын дугаар\"]);\nconst company      = str(row[\"Компанийн нэр\"]) || str(p.company);\nconst taxId        = str(row[\"Регистрийн дугаар\"]) || str(p.customer_tax_id);\nconst contactName  = str(row[\"Холбоо барих хүн\"]) || str(p.contact_name);\nconst phone        = str(row[\"Утас\"]) || str(p.phone);\nconst email        = str(row[\"И-мэйл\"]) || str(p.email);\nconst campFull     = str(row[\"Кемп\"]) || str(p.camp_name);\nconst tier         = str(row[\"Багц\"]) || str(p.package_tier);\nconst guests       = num(row[\"Хүний тоо\"]) || num(p.guest_count) || 0;\nconst startDt      = row[\"Эхлэх огноо\"] || p.start_datetime || '';\nconst endDt        = row[\"Дуусах огноо\"] || p.end_datetime || '';\n\n// NOMAAD Grove → \"Grove\" (after \"NOMAAD \")\nconst campShort = campFull.replace(/^NOMAAD\\s+/i, '');\n\n// ---- Дүн тооцоолол ----\nconst listPrice    = num(row[\"Нийт дүн\"]) || num(p.grand_total);\nconst discount     = num(row[\"Хямдрал ₮\"]);\nconst finalAmount  = num(row[\"Эцсийн гэрээний дүн\"]) || (listPrice - discount);\nconst deposit30    = Math.round(finalAmount * 0.30);\nconst balance70    = finalAmount - deposit30;\nconst vatIncluded  = Math.round(finalAmount / 11);\n\n// Нэг хүний үнэ (per-person)\nconst perPersonPrice = guests > 0 ? Math.round((num(p.tier_subtotal) || finalAmount) / guests) : 0;\nconst addonsSubtotal = num(p.addons_subtotal) + num(p.shuttle_subtotal);\n\n// ---- Огноо задлах — Google Sheets serial number + ISO string хоёуланг нь танина ----\nfunction parseDt(s) {\n  if (s === null || s === undefined || s === '') {\n    return { year: '', month: '', day: '', time: '' };\n  }\n\n  // 1) Sheets-ийн огнооны serial number (1899-12-30-аас хойших өдөр)\n  //    зарим тохиолдолд string \"46185.375\" хэлбэрээр ирж болно.\n  let asNum;\n  if (typeof s === 'number') {\n    asNum = s;\n  } else if (typeof s === 'string' && /^\\d+(\\.\\d+)?$/.test(s.trim())) {\n    asNum = Number(s.trim());\n  }\n  if (Number.isFinite(asNum) && asNum > 25569 /* 1970-01-01 */ && asNum < 80000) {\n    // Sheets epoch: 1899-12-30 (Lotus 1-2-3 bug-тай адил)\n    const ms = Math.round((asNum - 25569) * 86400000);\n    const d = new Date(ms);\n    if (!isNaN(d.getTime())) {\n      return {\n        year:  String(d.getUTCFullYear()),\n        month: String(d.getUTCMonth() + 1),\n        day:   String(d.getUTCDate()),\n        time:  String(d.getUTCHours()).padStart(2,'0') + ':' + String(d.getUTCMinutes()).padStart(2,'0')\n      };\n    }\n  }\n\n  // 2) ISO эсвэл \"YYYY-MM-DD\" string\n  const m = String(s).match(/(\\d{4})-(\\d{2})-(\\d{2})(?:[T ](\\d{2}):(\\d{2}))?/);\n  if (m) {\n    return {\n      year:  m[1],\n      month: String(parseInt(m[2], 10)),\n      day:   String(parseInt(m[3], 10)),\n      time:  (m[4] && m[5]) ? `${m[4]}:${m[5]}` : ''\n    };\n  }\n\n  // 3) Үлдсэн бүх case-д JS Date парсингаар оролдох\n  const d2 = new Date(s);\n  if (!isNaN(d2.getTime())) {\n    return {\n      year:  String(d2.getFullYear()),\n      month: String(d2.getMonth() + 1),\n      day:   String(d2.getDate()),\n      time:  String(d2.getHours()).padStart(2,'0') + ':' + String(d2.getMinutes()).padStart(2,'0')\n    };\n  }\n\n  return { year: '', month: '', day: '', time: '' };\n}\nconst startParts = parseDt(startDt);\nconst endParts   = parseDt(endDt);\n\n// Contract date = today\nconst today = new Date();\nconst contractYear  = String(today.getFullYear());\nconst contractMonth = String(today.getMonth() + 1);\nconst contractDay   = String(today.getDate());\n\n// ---- Placeholder map (Google Docs Replace nodes ашиглах) ----\nconst placeholders = {\n  // Гарчиг + БАТЛАВ блок\n  contract_year:        contractYear,\n  contract_month:       contractMonth,\n  contract_day:         contractDay,\n\n  // 1.1 Захиалагч\n  customer_tax_id:      taxId,\n  company_name:         company,\n  contact_position:     'Гүйцэтгэх захирал',\n  contact_name:         contactName,\n\n  // 2.1 Хугацаа\n  start_year:           startParts.year,\n  start_month:          startParts.month,\n  start_day:            startParts.day,\n  start_time:           startParts.time,\n  end_year:             endParts.year,\n  end_month:            endParts.month,\n  end_day:              endParts.day,\n  end_time:             endParts.time,\n\n  // 2.2 Үнэ\n  guest_count:          String(guests),\n  camp_short_name:      campShort,\n  tier:                 tier,\n  per_person_price:     fmt(perPersonPrice),\n  per_person_price_words: numberToMongolWords(perPersonPrice),\n  addons_subtotal:      fmt(addonsSubtotal),\n  addons_subtotal_words: numberToMongolWords(addonsSubtotal),\n  grand_total:          fmt(finalAmount),\n  grand_total_words:    numberToMongolWords(finalAmount),\n\n  // 2.3 — 2.4 Төлбөр\n  deposit_30:           fmt(deposit30),\n  deposit_30_words:     numberToMongolWords(deposit30),\n  balance_70:           fmt(balance70),\n  balance_70_words:     numberToMongolWords(balance70),\n\n  // 4.4 1 цагийн сунгах төлбөр (default = 300,000₮)\n  hourly_extension_fee:       '300,000',\n  hourly_extension_fee_words: numberToMongolWords(300000)\n};\n\n// ---- Staff email subject + HTML (Gmail · Notify staff ашигладаг) ----\nconst staffEmailSubject = `[Гэрээ] ${quoteNumber} · ${company} · ${fmt(finalAmount)}₮`;\n\nconst staffEmailHtml = `<!DOCTYPE html><html><body style=\"font-family:Helvetica,Arial,sans-serif;background:#F5F1E8;padding:24px;color:#1a1a1a;\">\n<table cellpadding=\"0\" cellspacing=\"0\" width=\"600\" align=\"center\" style=\"background:#fff;border-radius:8px;padding:28px;box-shadow:0 1px 3px rgba(0,0,0,0.08);\">\n  <tr><td>\n    <h2 style=\"margin:0 0 8px;font-size:20px;color:#0c2e1f;\">📄 Гэрээ үүсэхэд бэлэн боллоо</h2>\n    <p style=\"margin:0 0 18px;color:#4a4a4a;font-size:14px;\">${company}-н гэрээний draft автоматаар Google Drive дотор үүссэн. Шалгаад зочин руу илгээнэ үү.</p>\n    <table cellpadding=\"6\" cellspacing=\"0\" style=\"font-size:13px;line-height:1.6;border-top:1px solid #e5e0d4;border-bottom:1px solid #e5e0d4;width:100%;\">\n      <tr><td style=\"color:#777;width:140px;\">Дугаар</td><td><b>${quoteNumber}</b></td></tr>\n      <tr><td style=\"color:#777;\">Компани</td><td>${company}${taxId ? ' · РД ' + taxId : ''}</td></tr>\n      <tr><td style=\"color:#777;\">Холбоо</td><td>${contactName}${phone ? ' · ' + phone : ''}${email ? ' · ' + email : ''}</td></tr>\n      <tr><td style=\"color:#777;\">Кемп</td><td>${campFull} · ${tier} · ${guests} хүн</td></tr>\n      <tr><td style=\"color:#777;\">Огноо</td><td>${startParts.year}-${startParts.month}-${startParts.day} ${startParts.time} → ${endParts.year}-${endParts.month}-${endParts.day} ${endParts.time}</td></tr>\n    </table>\n    <table cellpadding=\"6\" cellspacing=\"0\" style=\"font-size:13px;line-height:1.6;margin-top:14px;width:100%;\">\n      <tr><td style=\"color:#777;width:140px;\">Нийт дүн</td><td><b style=\"color:#0c2e1f;\">${fmt(finalAmount)}₮</b></td></tr>\n      <tr><td style=\"color:#777;\">Урьдчилгаа 30%</td><td>${fmt(deposit30)}₮</td></tr>\n      <tr><td style=\"color:#777;\">Үлдэгдэл 70%</td><td>${fmt(balance70)}₮</td></tr>\n      <tr><td style=\"color:#777;\">НӨАТ (10% багтсан)</td><td>${fmt(vatIncluded)}₮</td></tr>\n    </table>\n    <p style=\"margin:22px 0 0;font-size:13px;color:#4a4a4a;\">\n      Drive хавтас: <a href=\"https://drive.google.com/drive/folders/1Av7YxSOr-ei182NQpcHp5FlsJOSiQIGb\" style=\"color:#0c2e1f;\">NOMAAD · Гэрээ Үүсгэсэн</a><br>\n      Үүсгэсэн: ${today.toLocaleString('mn-MN')}\n    </p>\n  </td></tr>\n</table>\n</body></html>`;\n\n// ---- Финанс мөр (Sheets · Append to Finance node-д шууд map хийдэг) ----\nconst financeRow = {\n  quote_number: quoteNumber,\n  company: company,\n  contact_name: contactName,\n  camp: campFull,\n  tier: tier,\n  guests: guests,\n  final_amount: finalAmount,\n  deposit_30: deposit30,\n  balance_70: balance70,\n  vat_included: vatIncluded,\n  start_dt: String(startDt),\n  end_dt: String(endDt),\n  created_at: today.toISOString()\n};\n\nreturn {\n  json: {\n    // Bulk placeholders for Google Docs Replace\n    ...placeholders,\n    // Meta\n    quote_number: quoteNumber,\n    company: company,\n    contact_name: contactName,\n    email: email,\n    phone: phone,\n    camp_full: campFull,\n    final_amount: finalAmount,\n    deposit_30: deposit30,\n    balance_70: balance70,\n    vat_included: vatIncluded,\n    // Staff email (Gmail · Notify staff үүнийг ашигладаг)\n    staff_email_subject: staffEmailSubject,\n    staff_email_html: staffEmailHtml,\n    // Финанс ажилбар бүх талбараар\n    finance_row: financeRow,\n    fin_quote_number: financeRow.quote_number,\n    fin_company: financeRow.company,\n    fin_contact_name: financeRow.contact_name,\n    fin_camp: financeRow.camp,\n    fin_tier: financeRow.tier,\n    fin_guests: financeRow.guests,\n    fin_final_amount: financeRow.final_amount,\n    fin_deposit_30: financeRow.deposit_30,\n    fin_balance_70: financeRow.balance_70,\n    fin_vat_included: financeRow.vat_included,\n    fin_start_dt: financeRow.start_dt,\n    fin_end_dt: financeRow.end_dt,\n    fin_created_at: financeRow.created_at,\n    contract_filename: `${quoteNumber} · ${company} · Гэрээ`,\n    generated_at: today.toLocaleString('mn-MN')\n  }\n};"
      },
      "id": "80617873-4a3f-4ce9-b39a-022952f3a48f",
      "name": "Code · Build contract data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1SH1u4nlGH61U-5FWWTm2c5BwooboMRFhdTSp4uNunhs",
          "mode": "list",
          "cachedResultName": "НОМААД КЕМП · Санхүүгийн бүртгэл 2026",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SH1u4nlGH61U-5FWWTm2c5BwooboMRFhdTSp4uNunhs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "📝 Гэрээ",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Үнийн саналын дугаар": "={{ $json.fin_quote_number }}",
            "Компанийн нэр": "={{ $json.fin_company }}",
            "Холбоо барих хүн": "={{ $json.fin_contact_name }}",
            "Кемп": "={{ $json.fin_camp }}",
            "Багц": "={{ $json.fin_tier }}",
            "Хүний тоо": "={{ $json.fin_guests }}",
            "Нийт гэрээний дүн": "={{ $json.fin_final_amount }}",
            "Урьдчилгаа 30%": "={{ $json.fin_deposit_30 }}",
            "Үлдэгдэл 70%": "={{ $json.fin_balance_70 }}",
            "НӨАТ": "={{ $json.fin_vat_included }}",
            "Эхлэх огноо": "={{ $json.fin_start_dt }}",
            "Дуусах огноо": "={{ $json.fin_end_dt }}",
            "Үүсгэсэн огноо": "={{ $json.fin_created_at }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Үнийн саналын дугаар",
              "displayName": "Үнийн саналын дугаар",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Компанийн нэр",
              "displayName": "Компанийн нэр",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Холбоо барих хүн",
              "displayName": "Холбоо барих хүн",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Кемп",
              "displayName": "Кемп",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Багц",
              "displayName": "Багц",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Хүний тоо",
              "displayName": "Хүний тоо",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Нийт гэрээний дүн",
              "displayName": "Нийт гэрээний дүн",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Урьдчилгаа 30%",
              "displayName": "Урьдчилгаа 30%",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Үлдэгдэл 70%",
              "displayName": "Үлдэгдэл 70%",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "НӨАТ",
              "displayName": "НӨАТ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Эхлэх огноо",
              "displayName": "Эхлэх огноо",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Дуусах огноо",
              "displayName": "Дуусах огноо",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Үүсгэсэн огноо",
              "displayName": "Үүсгэсэн огноо",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "3ddf6734-93f3-42d2-ade6-d71cfa8472b6",
      "name": "Sheets · Append to Finance",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1180,
        420
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "k4p4OIdOAsaZgnRH",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "team@nomaadcamp.com",
        "subject": "={{ $('Code · Build contract data').item.json.staff_email_subject }}",
        "message": "={{ $('Code · Build contract data').item.json.staff_email_html }}",
        "options": {
          "appendAttribution": false,
          "ccList": "hello@nomaadcamp.com",
          "replyTo": "hello@nomaadcamp.com"
        }
      },
      "id": "d8e46569-44e9-4645-a070-68fea8b77124",
      "name": "Gmail · Notify staff",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1620,
        220
      ],
      "webhookId": "8329fd92-aa49-428e-b388-f39b014eb649",
      "credentials": {
        "gmailOAuth2": {
          "id": "hov8yK7CZxzJScr3",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "16pHiShilnG-QdZtc2ciB5JeP_aslZRcqpQqEJvD-0wA",
          "mode": "list",
          "cachedResultName": "nomaad_quote_log"
        },
        "sheetName": {
          "__rl": true,
          "value": 529201537,
          "mode": "list",
          "cachedResultName": "Quote Log"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Үнийн саналын дугаар": "={{ $('Sheets · Find quote row').item.json['Үнийн саналын дугаар'] }}",
            "Төлөв": "ГЭРЭЭ БАТЛАГДСАН"
          },
          "matchingColumns": [
            "Үнийн саналын дугаар"
          ],
          "schema": [
            {
              "id": "Үнийн саналын дугаар",
              "displayName": "Үнийн саналын дугаар",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Төлөв",
              "displayName": "Төлөв",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ]
        },
        "options": {}
      },
      "id": "a05ec8d9-27f6-437d-9b78-a8ef73769e98",
      "name": "Sheets · Update quote status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1840,
        220
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "k4p4OIdOAsaZgnRH",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "12Ks-tTEovApXlSgfFHvi7zrtpJcNiby6WQtpeOeEFX0"
        },
        "name": "={{ $('Code · Build contract data').item.json.contract_filename }}",
        "options": {
          "parents": [
            "1Av7YxSOr-ei182NQpcHp5FlsJOSiQIGb"
          ]
        }
      },
      "id": "drive-copy-001",
      "name": "Drive · Copy template",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1180,
        220
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $('Drive · Copy template').item.json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceText",
              "text": "{{contract_year}}",
              "replaceText": "={{ $('Code · Build contract data').item.json.contract_year || '' }}",
              "matchCase": true
            },
            {
              "action": "replaceText",
              "text": "{{contract_month}}",
              "replaceText": "={{ $('Code · Build contract data').item.json.contract_month || '' }}",
              "matchCase": true
            },
            {
              "action": "replaceText",
              "text": "{{contract_day}}",
              "replaceText": "={{ $('Code · Build contract data').item.json.contract_day || '' }}",
              "matchCase": true
            },
            {
              "action": "replaceText",
              "text": "{{customer_tax_id}}",
              "replaceText": "={{ $('Code · Build contract data').item.json.customer_tax_id || '' }}",
              "matchCase": true
            },
            {
              "action": "replaceText",
              "text": "{{company_name}}",
              "replaceText": "={{ $('Code · Build contract data').item.json.company_name || '' }}",
              "matchCase": true
            },
            {
              "action": "replaceText",
              "text": "{{contact_position}}",
              "replaceText": "={{ $('Code · Build contract data').item.json.contact_position || '' }}",
              "matchCase": true
            },
            {
              "action": "replaceText",
              "text": "{{contact_name}}",
              "replaceText": "={{ $('Code · Build contract data').item.json.contact_name || '' }}",
              "matchCase": true
            },
            {
              "action": "replaceText",
              "text": "{{start_year}}",
              "replaceText": "={{ $('Code · Build contract data').item.json.start_year || '' }}",
              "matchCase": true
            },
            {
              "action": "replaceText",
              "text": "{{start_month}}",
              "replaceText": "={{ $('Code · Build contract data').item.json.start_month || '' }}",
              "matchCase": true
            },
            {
              "action": "replaceText",
              "text": "{{start_day}}",
              "replaceText": "={{ $('Code · Build contract data').item.json.start_day || '' }}",
              "matchCase": true
            },
            {
              "action": "replaceText",
              "text": "{{start_time}}",
              "replaceText": "={{ $('Code · Build contract data').item.json.start_time || '' }}",
              "matchCase": true
            },
            {
              "action": "replaceText",
              "text": "{{end_year}}",
              "replaceText": "={{ $('Code · Build contract data').item.json.end_year || '' }}",
              "matchCase": true
            },
            {
              "action": "replaceText",
              "text": "{{end_month}}",
              "replaceText": "={{ $('Code · Build contract data').item.json.end_month || '' }}",
              "matchCase": true
            },
            {
              "action": "replaceText",
              "text": "{{end_day}}",
              "replaceText": "={{ $('Code · Build contract data').item.json.end_day || '' }}",
              "matchCase": true
            },
            {
              "action": "replaceText",
              "text": "{{end_time}}",
              "replaceText": "={{ $('Code · Build contract data').item.json.end_time || '' }}",
              "matchCase": true
            },
            {
              "action": "replaceText",
              "text": "{{guest_count}}",
              "replaceText": "={{ $('Code · Build contract data').item.json.guest_count || '' }}",
              "matchCase": true
            },
            {
              "action": "replaceText",
              "text": "{{camp_short_name}}",
              "replaceText": "={{ $('Code · Build contract data').item.json.camp_short_name || '' }}",
              "matchCase": true
            },
            {
              "action": "replaceText",
              "text": "{{tier}}",
              "replaceText": "={{ $('Code · Build contract data').item.json.tier || '' }}",
              "matchCase": true
            },
            {
              "action": "replaceText",
              "text": "{{per_person_price}}",
              "replaceText": "={{ $('Code · Build contract data').item.json.per_person_price || '' }}",
              "matchCase": true
            },
            {
              "action": "replaceText",
              "text": "{{per_person_price_words}}",
              "replaceText": "={{ $('Code · Build contract data').item.json.per_person_price_words || '' }}",
              "matchCase": true
            },
            {
              "action": "replaceText",
              "text": "{{addons_subtotal}}",
              "replaceText": "={{ $('Code · Build contract data').item.json.addons_subtotal || '' }}",
              "matchCase": true
            },
            {
              "action": "replaceText",
              "text": "{{addons_subtotal_words}}",
              "replaceText": "={{ $('Code · Build contract data').item.json.addons_subtotal_words || '' }}",
              "matchCase": true
            },
            {
              "action": "replaceText",
              "text": "{{grand_total}}",
              "replaceText": "={{ $('Code · Build contract data').item.json.grand_total || '' }}",
              "matchCase": true
            },
            {
              "action": "replaceText",
              "text": "{{grand_total_words}}",
              "replaceText": "={{ $('Code · Build contract data').item.json.grand_total_words || '' }}",
              "matchCase": true
            },
            {
              "action": "replaceText",
              "text": "{{deposit_30}}",
              "replaceText": "={{ $('Code · Build contract data').item.json.deposit_30 || '' }}",
              "matchCase": true
            },
            {
              "action": "replaceText",
              "text": "{{deposit_30_words}}",
              "replaceText": "={{ $('Code · Build contract data').item.json.deposit_30_words || '' }}",
              "matchCase": true
            },
            {
              "action": "replaceText",
              "text": "{{balance_70}}",
              "replaceText": "={{ $('Code · Build contract data').item.json.balance_70 || '' }}",
              "matchCase": true
            },
            {
              "action": "replaceText",
              "text": "{{balance_70_words}}",
              "replaceText": "={{ $('Code · Build contract data').item.json.balance_70_words || '' }}",
              "matchCase": true
            },
            {
              "action": "replaceText",
              "text": "{{hourly_extension_fee}}",
              "replaceText": "={{ $('Code · Build contract data').item.json.hourly_extension_fee || '' }}",
              "matchCase": true
            },
            {
              "action": "replaceText",
              "text": "{{hourly_extension_fee_words}}",
              "replaceText": "={{ $('Code · Build contract data').item.json.hourly_extension_fee_words || '' }}",
              "matchCase": true
            }
          ]
        }
      },
      "id": "docs-replace-001",
      "name": "Docs · Replace placeholders",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1400,
        220
      ]
    }
  ],
  "connections": {
    "IF · Төлөв = ГЭРЭЭ": {
      "main": [
        [
          {
            "node": "Sheets · Find quote row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets · Find quote row": {
      "main": [
        [
          {
            "node": "Code · Build contract data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code · Build contract data": {
      "main": [
        [
          {
            "node": "Drive · Copy template",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sheets · Append to Finance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail · Notify staff": {
      "main": [
        [
          {
            "node": "Sheets · Update quote status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drive · Copy template": {
      "main": [
        [
          {
            "node": "Docs · Replace placeholders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Docs · Replace placeholders": {
      "main": [
        [
          {
            "node": "Gmail · Notify staff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook · Contract Trigger": {
      "main": [
        [
          {
            "node": "IF · Төлөв = ГЭРЭЭ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b3c1836a-a888-4342-bb08-c2ac526dc6d8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f638da819297acbd6e4f4271a24c6826d03f971863c6ffa42183ae0805d3cea1"
  },
  "id": "d3SUnOfPCRqxYYu0",
  "tags": [
    {
      "updatedAt": "2026-04-06T05:37:11.533Z",
      "createdAt": "2026-04-06T05:37:11.533Z",
      "id": "OhVVLbAUdZtvBgg4",
      "name": "M event"
    }
  ]
}