n8n/NOMAAD Quote · 3. Contract Confirmed.json
{
  "name": "NOMAAD Quote · 3. Contract Confirmed",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "16pHiShilnG-QdZtc2ciB5JeP_aslZRcqpQqEJvD-0wA",
          "mode": "list",
          "cachedResultName": "nomaad_quote_log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16pHiShilnG-QdZtc2ciB5JeP_aslZRcqpQqEJvD-0wA/edit"
        },
        "sheetName": {
          "__rl": true,
          "value": 529201537,
          "mode": "list",
          "cachedResultName": "Quote Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16pHiShilnG-QdZtc2ciB5JeP_aslZRcqpQqEJvD-0wA/edit#gid=529201537"
        },
        "event": "rowUpdate",
        "options": {
          "columnsToWatch": [
            "Төлөв"
          ]
        }
      },
      "id": "cec43257-01f2-4285-a612-b83905c34968",
      "name": "Sheets Trigger · On row update",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        4304,
        3200
      ],
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "GW7H0PAjDKMEZBEj",
          "name": "Google Sheets Trigger OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "if-toluv-geree",
              "leftValue": "={{ $json['Төлөв'] }}",
              "rightValue": "ГЭРЭЭ",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f5e9be22-7cdf-4a8d-9bb5-dc8422605ceb",
      "name": "IF · Төлөв = ГЭРЭЭ",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4528,
        3200
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "16pHiShilnG-QdZtc2ciB5JeP_aslZRcqpQqEJvD-0wA",
          "mode": "list",
          "cachedResultName": "nomaad_quote_log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16pHiShilnG-QdZtc2ciB5JeP_aslZRcqpQqEJvD-0wA/edit"
        },
        "sheetName": {
          "__rl": true,
          "value": 529201537,
          "mode": "list",
          "cachedResultName": "Quote Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16pHiShilnG-QdZtc2ciB5JeP_aslZRcqpQqEJvD-0wA/edit#gid=529201537"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Үнийн саналын дугаар",
              "lookupValue": "={{ $json['Үнийн саналын дугаар'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ec0266ba-3c33-490c-a1bb-f46fbed15bdd",
      "name": "Sheets · Find quote row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        4768,
        3168
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "k4p4OIdOAsaZgnRH",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\n// ====================================================================\n// NOMAAD Camp · Workflow 3 · Гэрээ батлагдсаны Code node\n// ====================================================================\n// Input: Quote Log-ийн нэг мөр (бүх 27 баганатай)\n// Output: Финанс Sheet-д бичих өгөгдөл + ажилтанд явуулах HTML email + \n//         даалгаврын PDF render-хийх HTML\n\nconst row = $input.first().json;\n\n// ─── 1. Анхны өгөгдөл JSON-аас payload унших ───\nlet p;\ntry { p = JSON.parse(row[\"Анхны өгөгдөл\"] || \"{}\"); }\ncatch (e) { p = {}; }\n\nconst num = (v, d = 0) => {\n  if (v === undefined || v === null || v === '') return d;\n  const cleaned = String(v).replace(/[₮,$,\\s]/g, '');\n  const n = Number(cleaned);\n  return Number.isFinite(n) ? n : d;\n};\nconst str = (v, d = '') => (v === undefined || v === null) ? d : String(v).trim();\n\n// ─── 2. Үндсэн дата ───\nconst quoteNumber  = str(row[\"Үнийн саналын дугаар\"]);\nconst company      = str(row[\"Компанийн нэр\"]) || str(p.company);\nconst taxId        = str(row[\"Регистрийн дугаар\"]) || str(p.customer_tax_id);\nconst contactName  = str(row[\"Холбоо барих хүн\"]) || str(p.contact_name);\nconst phone        = str(row[\"Утас\"]) || str(p.phone);\nconst email        = str(row[\"И-мэйл\"]) || str(p.email);\nconst camp         = str(row[\"Кемп\"]) || str(p.camp_name);\nconst tier         = str(row[\"Багц\"]) || str(p.package_tier);\nconst guests       = num(row[\"Хүний тоо\"]) || num(p.guest_count);\nconst startDt      = str(row[\"Эхлэх огноо\"]) || str(p.start_datetime);\nconst endDt        = str(row[\"Дуусах огноо\"]) || str(p.end_datetime);\n\nconst listPrice    = num(row[\"Нийт дүн\"]);\nconst discount     = num(row[\"Хямдрал ₮\"]);\nconst finalAmount  = num(row[\"Эцсийн гэрээний дүн\"]) || (listPrice - discount);\nconst deposit30    = Math.round(finalAmount * 0.30);\nconst balance70    = finalAmount - deposit30;\nconst vatIncluded  = Math.round(finalAmount / 11); // 10% VAT included\n\nconst meetingDate  = str(row[\"Уулзалтын огноо\"]);\nconst meetingNote  = str(row[\"Уулзалтын тэмдэглэл\"]);\nconst signDate     = str(row[\"Гэрээ зурсан огноо\"]);\n\n// Addons + shuttle from JSON\nconst addons = (() => {\n  try { return JSON.parse(str(p.addons_json) || '[]'); }\n  catch (_) { return []; }\n})();\nconst shuttleLabel  = str(p.shuttle_service);\nconst shuttleAmount = num(p.shuttle_subtotal);\nconst busCount      = num(p.bus_count);\n\n// ─── 3. Хэлбэрчилсэн ─── \nconst fmt = n => Number(n).toLocaleString('en-US');\nfunction fmtDate(s) {\n  const m = String(s).match(/(\\d{4})-(\\d{2})-(\\d{2})/);\n  return m ? `${m[1]}.${m[2]}.${m[3]}` : s;\n}\nfunction fmtDateTime(s) {\n  const m = String(s).match(/(\\d{4})-(\\d{2})-(\\d{2})(?:[T ](\\d{2}):(\\d{2}))?/);\n  if (!m) return s;\n  const [, y, mo, d, hh, mm] = m;\n  return `${y}.${mo}.${d}${hh && mm ? ' · ' + hh + ':' + mm : ''}`;\n}\n\n// ─── 4. Addons-ын хүний унших жагсаалт ───\nconst billableAddons = addons.filter(a => !a.tier_included);\nconst addonsLines = billableAddons.length \n  ? billableAddons.map(a => `<li>${a.name}${a.quantity ? ` × ${a.quantity}` : ''}${a.price ? ` — ${fmt(a.price)}₮` : ''}</li>`).join('')\n  : '<li><em>Зөвхөн үндсэн багц</em></li>';\n\n// ─── 5. Staff email HTML ───\nconst staffEmailHtml = `\n<!DOCTYPE html>\n<html lang=\"mn\"><head><meta charset=\"utf-8\"><title>Шинэ гэрээ ${quoteNumber}</title>\n<style>\n  body { font-family: Arial, sans-serif; color: #1a1a1a; max-width: 720px; margin: 0 auto; padding: 24px; }\n  .header { background: #0B1F1A; color: #C9A86A; padding: 20px 24px; }\n  .header h1 { margin: 0; font-size: 22px; }\n  .header p { margin: 4px 0 0; font-size: 12px; opacity: 0.7; }\n  .section { padding: 20px 24px; border-bottom: 1px solid #e8e2d5; }\n  .section h2 { font-size: 13px; text-transform: uppercase; letter-spacing: 0.1em; color: #6b6b6b; margin: 0 0 12px; }\n  table { width: 100%; border-collapse: collapse; }\n  td { padding: 6px 0; vertical-align: top; font-size: 14px; }\n  td:first-child { width: 40%; color: #6b6b6b; }\n  td:last-child { font-weight: 600; }\n  .money { color: #0B1F1A; font-size: 16px; }\n  ul { margin: 8px 0 0 16px; padding: 0; }\n  li { padding: 2px 0; font-size: 14px; }\n  .task { background: #f5f2ec; padding: 14px 16px; margin: 10px 0; border-left: 3px solid #C9A86A; }\n  .task strong { display: block; color: #0B1F1A; margin-bottom: 4px; }\n  .footer { padding: 16px 24px; font-size: 11px; color: #6b6b6b; text-align: center; }\n</style></head>\n<body>\n  <div class=\"header\">\n    <h1>ШИНЭ ГЭРЭЭ БАТЛАГДЛАА · ${quoteNumber}</h1>\n    <p>Гэрээ зурсан: ${fmtDate(signDate)} · Компани: ${company}</p>\n  </div>\n\n  <div class=\"section\">\n    <h2>Арга хэмжээ</h2>\n    <table>\n      <tr><td>Кемп</td><td>${camp}</td></tr>\n      <tr><td>Багц</td><td>${tier}</td></tr>\n      <tr><td>Хүний тоо</td><td>${fmt(guests)}</td></tr>\n      <tr><td>Эхлэх</td><td>${fmtDateTime(startDt)}</td></tr>\n      <tr><td>Дуусах</td><td>${fmtDateTime(endDt)}</td></tr>\n    </table>\n  </div>\n\n  <div class=\"section\">\n    <h2>Үйлчлүүлэгч</h2>\n    <table>\n      <tr><td>Компани</td><td>${company}</td></tr>\n      <tr><td>Регистрийн дугаар</td><td>${taxId}</td></tr>\n      <tr><td>Холбоо барих</td><td>${contactName}</td></tr>\n      <tr><td>Утас</td><td>${phone}</td></tr>\n      <tr><td>И-мэйл</td><td>${email}</td></tr>\n    </table>\n  </div>\n\n  <div class=\"section\">\n    <h2>Нэмэлт үйлчилгээ</h2>\n    <ul>${addonsLines}</ul>\n    ${shuttleAmount ? `<p style=\"margin-top: 12px; font-size: 14px;\"><strong>Тээвэр:</strong> ${shuttleLabel} (${fmt(shuttleAmount)}₮)</p>` : ''}\n  </div>\n\n  <div class=\"section\">\n    <h2>Санхүү (НӨАТ багтсан)</h2>\n    <table>\n      <tr><td>Жагсаалтын үнэ</td><td>${fmt(listPrice)}₮</td></tr>\n      <tr><td>Хямдрал</td><td style=\"color: ${discount > 0 ? '#C00000' : '#6b6b6b'};\">${discount > 0 ? '−' + fmt(discount) + '₮' : 'байхгүй'}</td></tr>\n      <tr><td><strong>Эцсийн гэрээний дүн</strong></td><td class=\"money\">${fmt(finalAmount)}₮</td></tr>\n      <tr><td>30% урьдчилгаа</td><td>${fmt(deposit30)}₮</td></tr>\n      <tr><td>70% үлдэгдэл</td><td>${fmt(balance70)}₮</td></tr>\n      <tr><td>НӨАТ (10%)</td><td>${fmt(vatIncluded)}₮</td></tr>\n    </table>\n    ${meetingNote ? `<p style=\"margin-top: 12px; padding: 10px; background: #fff8e1; font-size: 13px;\"><strong>Уулзалтын тэмдэглэл:</strong> ${meetingNote}</p>` : ''}\n  </div>\n\n  <div class=\"section\">\n    <h2>Ажилтан тус бүрийн даалгавар</h2>\n    <div class=\"task\"><strong>002 · Борлуулалт</strong>Гэрээ зурагдсан тул акт үүсгэх (1-р дамжлага), Booqable-д захиалга нээх. 30% урьдчилгааны нэхэмжлэх илгээх.</div>\n    <div class=\"task\"><strong>003 · Нярав</strong>Тоног нөөц шалгах. Зочдын тоо ${fmt(guests)}-д хүрэлцэх эсэхийг баталгаажуулна.</div>\n    <div class=\"task\"><strong>004 · Засвар / Агуулахын ахлах</strong>Арга хэмжээний 48 цагийн өмнө тоног тест хийгээд 2-р дамжлага хаах.</div>\n    <div class=\"task\"><strong>005 · Логистик</strong>Хүргэх маршрут, цаг гаргах. Автобус: ${busCount > 0 ? busCount + ' ширхэг (' + shuttleLabel + ')' : 'хэрэггүй'}.</div>\n    <div class=\"task\"><strong>006 · Цэврэлгээ</strong>Буцаалт авах өдрөө тоног цэвэрлэх, чанарын шалгалт.</div>\n  </div>\n\n  <div class=\"footer\">\n    Чимун ХХК · NOMAAD Camp · ${quoteNumber}<br>\n    Энэ автомат мэдэгдэл NOMAAD Quote System-ээс илгээгдсэн.\n  </div>\n</body></html>`;\n\n// ─── 6. Финанс Sheet-д бичих өгөгдөл ───\nconst financePayload = {\n  contract_num: 1, // auto-increment\n  contract_id: quoteNumber.replace('NC', 'CT'),\n  sign_date: signDate,\n  company: company,\n  tax_id: taxId,\n  contact_name: contactName,\n  phone: phone,\n  email: email,\n  camp_name: camp,\n  package_tier: tier,\n  guest_count: guests,\n  start_dt: startDt,\n  end_dt: endDt,\n  list_price: listPrice,\n  discount_pct: listPrice > 0 ? (discount / listPrice) : 0,\n  final_amount: finalAmount,\n  deposit_30: deposit30,\n  balance_70: balance70,\n  status: 'ИДЭВХТЭЙ',\n  notes: meetingNote || ''\n};\n\nreturn [{\n  json: {\n    quote_number: quoteNumber,\n    contract_id: financePayload.contract_id,\n    company: company,\n    email: email,\n    final_amount: finalAmount,\n    staff_email_html: staffEmailHtml,\n    staff_email_subject: `🟢 ШИНЭ ГЭРЭЭ ${quoteNumber} · ${company} · ${fmt(finalAmount)}₮ · ${camp} ${tier}`,\n    ...financePayload\n  }\n}];\n"
      },
      "id": "80617873-4a3f-4ce9-b39a-022952f3a48f",
      "name": "Code · Build contract data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4976,
        3184
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1SH1u4nlGH61U-5FWWTm2c5BwooboMRFhdTSp4uNunhs",
          "mode": "list",
          "cachedResultName": "НОМААД КЕМП · Санхүүгийн бүртгэл 2026",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SH1u4nlGH61U-5FWWTm2c5BwooboMRFhdTSp4uNunhs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "📝 Гэрээ",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "3ddf6734-93f3-42d2-ade6-d71cfa8472b6",
      "name": "Sheets · Append to Finance",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        5216,
        3104
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "k4p4OIdOAsaZgnRH",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "team@nomaadcamp.com",
        "subject": "={{ $('Code · Build contract data').item.json.staff_email_subject }}",
        "message": "={{ $('Code · Build contract data').item.json.staff_email_html }}",
        "options": {
          "appendAttribution": false,
          "ccList": "hello@nomaadcamp.com",
          "replyTo": "hello@nomaadcamp.com"
        }
      },
      "id": "d8e46569-44e9-4645-a070-68fea8b77124",
      "name": "Gmail · Notify staff",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        5216,
        3344
      ],
      "webhookId": "8329fd92-aa49-428e-b388-f39b014eb649",
      "credentials": {
        "gmailOAuth2": {
          "id": "hov8yK7CZxzJScr3",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "16pHiShilnG-QdZtc2ciB5JeP_aslZRcqpQqEJvD-0wA",
          "mode": "list",
          "cachedResultName": "nomaad_quote_log"
        },
        "sheetName": {
          "__rl": true,
          "value": 529201537,
          "mode": "list",
          "cachedResultName": "Quote Log"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Үнийн саналын дугаар": "={{ $('Sheets · Find quote row').item.json['Үнийн саналын дугаар'] }}",
            "Төлөв": "ГЭРЭЭ БАТЛАГДСАН"
          },
          "matchingColumns": [
            "Үнийн саналын дугаар"
          ],
          "schema": [
            {
              "id": "Үнийн саналын дугаар",
              "displayName": "Үнийн саналын дугаар",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Төлөв",
              "displayName": "Төлөв",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ]
        },
        "options": {}
      },
      "id": "a05ec8d9-27f6-437d-9b78-a8ef73769e98",
      "name": "Sheets · Update quote status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        5456,
        3280
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "k4p4OIdOAsaZgnRH",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {
    "Sheets Trigger · On row update": [
      {
        "json": {
          "row_number": 3,
          "Бүртгэлийн огноо": "2026-05-11T19:08:02.942+08:00",
          "Үнийн саналын дугаар": "NC-2026-0005",
          "Компанийн нэр": "Таван Богд Финанс ББСБ",
          "Регистрийн дугаар": "",
          "Холбоо барих хүн": "Н.Тамир",
          "Утас": 97688006790,
          "И-мэйл": "ceo@nomaadcamp.com",
          "Кемп": "NOMAAD Meadow",
          "Багц": "Премиум",
          "Хүний тоо": 200,
          "Эхлэх огноо": 46185.375,
          "Дуусах огноо": 46186.458333333336,
          "Нийт дүн": 60800000,
          "Урьдчилгаа 30%": 18240000,
          "PDF файл": "NC-2026-0005_Таван-Богд-Финанс-ББСБ.pdf",
          "Тэмдэглэл": "",
          "Дугаарлалт": 6,
          "Төлөв": "ГЭРЭЭ",
          "Илгээсэн огноо": "2026-05-11T19:11:12.971+08:00",
          "Нэмэлт үйлчилгээ": "",
          "Тээвэр": "Хоног / 2 талдаа · 4 автобус · 4,800,000₮",
          "Анхны өгөгдөл": "{\"company\":\"Таван Богд Финанс ББСБ\",\"customer_tax_id\":\"\",\"contact_name\":\"Н.Тамир\",\"phone\":\"+97688006790\",\"email\":\"ceo@nomaadcamp.com\",\"camp\":\"NOMAAD Meadow\",\"camp_name\":\"NOMAAD Meadow\",\"tier\":\"Премиум\",\"package_tier\":\"Премиум\",\"visual_feature\":\"\",\"location\":\"\",\"start_datetime\":\"2026-06-12T09:00\",\"end_datetime\":\"2026-06-13T11:00\",\"event_date\":\"2026-06-12T09:00\",\"duration_label\":\"1 шөнө\",\"guest_count\":\"200\",\"tier_base_price\":\"280000\",\"tier_subtotal\":\"56000000\",\"tier_inclusions_json\":\"[\\\"Welcome drink\\\",\\\"Sleeping bag\\\",\\\"Кофе/цайны цэг\\\",\\\"Өдрийн буфет (сайжруулсан)\\\",\\\"Оройн буфет (сайжруулсан)\\\",\\\"Moonbeam Lounge\\\",\\\"Bartender үйлчилгээ (3 цаг)\\\",\\\"Зочдын ариун цэврийн багц\\\",\\\"DJ үйлчилгээ\\\",\\\"Гэрэл зургийн үйлчилгээ\\\",\\\"LED дэлгэц 18м²\\\",\\\"Оройн зууш\\\"]\",\"addons_json\":\"[{\\\"code\\\":\\\"welcome_drink\\\",\\\"name\\\":\\\"Welcome drink\\\",\\\"type\\\":\\\"per-person\\\",\\\"tier_included\\\":true},{\\\"code\\\":\\\"amenity_kit\\\",\\\"name\\\":\\\"Зочдын ариун цэврийн багц\\\",\\\"type\\\":\\\"per-person\\\",\\\"tier_included\\\":true},{\\\"code\\\":\\\"sleeping_bag\\\",\\\"name\\\":\\\"Sleeping bag\\\",\\\"type\\\":\\\"per-person\\\",\\\"tier_included\\\":true},{\\\"code\\\":\\\"coffee_corner\\\",\\\"name\\\":\\\"Кофе/цайны цэг\\\",\\\"type\\\":\\\"per-person\\\",\\\"tier_included\\\":true},{\\\"code\\\":\\\"lunch_upgrade\\\",\\\"name\\\":\\\"Өдрийн буфет (сайжруулсан)\\\",\\\"type\\\":\\\"per-person\\\",\\\"tier_included\\\":true},{\\\"code\\\":\\\"dinner_upgrade\\\",\\\"name\\\":\\\"Оройн буфет (сайжруулсан)\\\",\\\"type\\\":\\\"per-person\\\",\\\"tier_included\\\":true},{\\\"code\\\":\\\"late_snacks\\\",\\\"name\\\":\\\"Оройн зууш\\\",\\\"type\\\":\\\"per-person\\\",\\\"tier_included\\\":true},{\\\"code\\\":\\\"dj_service\\\",\\\"name\\\":\\\"DJ үйлчилгээ\\\",\\\"type\\\":\\\"flat-dynamic\\\",\\\"tier_included\\\":true},{\\\"code\\\":\\\"bartender_service\\\",\\\"name\\\":\\\"Bartender үйлчилгээ\\\",\\\"type\\\":\\\"flat-auto\\\",\\\"tier_included\\\":true},{\\\"code\\\":\\\"moonbeam_lounge\\\",\\\"name\\\":\\\"Moonbeam Lounge\\\",\\\"type\\\":\\\"flat\\\",\\\"tier_included\\\":true},{\\\"code\\\":\\\"led_screen_18m2\\\",\\\"name\\\":\\\"LED дэлгэц 18м²\\\",\\\"type\\\":\\\"flat\\\",\\\"tier_included\\\":true},{\\\"code\\\":\\\"photo_4h\\\",\\\"name\\\":\\\"Гэрэл зургийн үйлчилгээ\\\",\\\"type\\\":\\\"flat\\\",\\\"tier_included\\\":true}]\",\"addon_count\":\"12\",\"addons_subtotal\":\"0\",\"estimated_addon_total\":\"0\",\"shuttle_service\":\"Хоног / 2 талдаа, 1,200,000₮\",\"shuttle_service_label\":\"Хоног / 2 талдаа, 1,200,000₮\",\"shuttle_unit_price\":\"1200000\",\"bus_count\":\"4\",\"shuttle_subtotal\":\"4800000\",\"grand_total\":\"60800000\",\"vat_included\":\"5527273\",\"deposit_30\":\"18240000\",\"balance_70\":\"42560000\",\"value_anchor_json\":\"{\\\"lines\\\":[{\\\"label\\\":\\\"Үндсэн багц (180,000₮ × 200)\\\",\\\"amount\\\":36000000},{\\\"label\\\":\\\"+ Welcome drink (5,000 × 200)\\\",\\\"amount\\\":1000000},{\\\"label\\\":\\\"+ Sleeping bag (15,000 × 200)\\\",\\\"amount\\\":3000000},{\\\"label\\\":\\\"+ Кофе/цайны цэг (6,000 × 200)\\\",\\\"amount\\\":1200000},{\\\"label\\\":\\\"+ Өдрийн буфет (сайжруулсан) (12,000 × 200)\\\",\\\"amount\\\":2400000},{\\\"label\\\":\\\"+ Оройн буфет (сайжруулсан) (12,000 × 200)\\\",\\\"amount\\\":2400000},{\\\"label\\\":\\\"+ Moonbeam Lounge\\\",\\\"amount\\\":500000},{\\\"label\\\":\\\"+ Bartender (3 × 500,000)\\\",\\\"amount\\\":1500000},{\\\"label\\\":\\\"+ Зочдын ариун цэврийн багц (5,000 × 200)\\\",\\\"amount\\\":1000000},{\\\"label\\\":\\\"+ DJ үйлчилгээ\\\",\\\"amount\\\":1000000},{\\\"label\\\":\\\"+ Гэрэл зургийн үйлчилгээ\\\",\\\"amount\\\":500000},{\\\"label\\\":\\\"+ LED дэлгэц 18м²\\\",\\\"amount\\\":1728000},{\\\"label\\\":\\\"+ Оройн зууш (8,000 × 200)\\\",\\\"amount\\\":1600000}],\\\"standalone_total\\\":53828000,\\\"package_total\\\":56000000,\\\"savings\\\":-2172000,\\\"savings_pct\\\":-4}\",\"standalone_equivalent\":\"53828000\",\"package_savings\":\"-2172000\",\"package_savings_pct\":\"-4\",\"notes\":\"\",\"source\":\"nomaadcamp.com\",\"next_counter\":5}",
          "Уулзалтын огноо": "",
          "Хямдрал ₮": "",
          "Уулзалтын тэмдэглэл": "dcsdcsdcsd",
          "Эцсийн гэрээний дүн": 40000000,
          "Гэрээ зурсан огноо": ""
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Sheets Trigger · On row update": {
      "main": [
        [
          {
            "node": "IF · Төлөв = ГЭРЭЭ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF · Төлөв = ГЭРЭЭ": {
      "main": [
        [
          {
            "node": "Sheets · Find quote row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets · Find quote row": {
      "main": [
        [
          {
            "node": "Code · Build contract data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code · Build contract data": {
      "main": [
        [
          {
            "node": "Sheets · Append to Finance",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail · Notify staff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail · Notify staff": {
      "main": [
        [
          {
            "node": "Sheets · Update quote status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b3c1836a-a888-4342-bb08-c2ac526dc6d8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f638da819297acbd6e4f4271a24c6826d03f971863c6ffa42183ae0805d3cea1"
  },
  "id": "d3SUnOfPCRqxYYu0",
  "tags": [
    {
      "updatedAt": "2026-04-06T05:37:11.533Z",
      "createdAt": "2026-04-06T05:37:11.533Z",
      "id": "OhVVLbAUdZtvBgg4",
      "name": "M event"
    }
  ]
}